/* colors */

/*
60% of #6138C7 - Primary
30% of #3857C7 - Secondary
10% of #389FC7 - Accent
*/

:root {

/* var(--dominantColor) !important; */
--dominantColor: #6038C7;
/* var(--secondaryColor) !important; */
--secondaryColor: #3857C7;
/* var(--accentColor) !important; */
--accentColor: #389FC7;

}